<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>

        <h3>📬 Connect with Me</h3>
        <ul>
          <li><a href="mailto:jonathansebastian858@email.com">Email</a></li>
          <li><a href="tel:+6287786173096">Phone</a></li>
          <li><a href="https://www.linkedin.com/in/jonathan-sebastian-9212b0291">LinkedIn</a></li>
          <li><a href="https://github.com/sebastianmoiras">GitHub</a></li>
        </ul>
      </div>

      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
